<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加研究方向</title>
</head>
<style>
    label {
        width: 120px;
        display: inline-block;
        text-align: right;
    }
</style>
{% load static %}
<body background="{% static 'images/white_wall.jpg' %}"
      style="background-size: 100% 100%;
background-attachment:fixed;
background-repeat: no-repeat;">
<h4 align="right">欢迎！<a href="/Lab/account">{{user_name}}</a> &nbsp;<a href="{% url 'lab_log_out' %}">注销</a></h4>
<div align="center">
    <br>
    <br>
    <br>
    <br>
    <h1>请输入要添加的研究方向信息</h1>
    <form action="{% url "res_add" %}" method="post">
        {% csrf_token %}
        <p>
            <label>
                研究方向:
            </label>
            <input type="text" name="study_dire" placeholder="请输入研究方向"></p>
        <p>
            <label>所涉院系:</label>
            <input type="text" name="school_included" placeholder="请输入所涉院系"></p>
        <p>
            <label>所涉实验组数量:</label>
            <input type="text" name="labs_included" placeholder="请输入所涉实验组数量"></p>
        <p>
            <label>研究人员数量:</label>
            <input type="text" name="num_researcher" placeholder="请输入研究人员数量"></p>
        <p>
            <label>总科研经费(万):</label>
            <input type="text" name="research_founds" placeholder="请输入总科研经费"></p>
        <p><input type="submit" name="submit" value="提交"> &nbsp &nbsp<input type="submit" name="submit" value="取消"></p>
    </form>
</div>

</body>
</html>