<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新研究方向</title>
</head>
<style>
    label {
        width: 120px;
        display: inline-block;
        text-align: right;
    }
</style>
{% load static %}
<body background="{% static 'images/white_wall.jpg' %}"
      style="background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;">
<h4 align="right">欢迎！<a href="/Lab/account">{{user_name}}</a> &nbsp;<a href="{% url 'lab_log_out' %}">注销</a></h4>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div align="center">
    <h1>请输入研究方向更新信息</h1>
    <form action="/Lab/res_update/{{ res_id }}" method="post">
        {% csrf_token %}
        <p>
            <label>研究方向</label>
            <input type="text" name="study_dire" value="{{ res.study_dire }}"></p>
        <p>
            <label>所涉院系</label>
            <input type="text" name="school_included" value="{{ res.school_included }}"></p>
        <p>
            <label>所涉实验组数量</label>
            <input type="text" name="labs_included" value="{{ res.labs_included }}"></p>
        <p>
            <label>研究人员数量</label>
            <input type="text" name="num_researcher" value="{{ res.num_researcher }}"></p>
        <p>
            <label>总科研经费</label>
            <input type="text" name="research_founds" value="{{ res.research_founds }}"></p>
        <p><input type="submit" name='submit' value="更新"> &nbsp &nbsp<input type="submit" name='submit' value="取消"></p>
    </form>

</div>


</body>
</html>